header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--margin-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 5;
}
.fileDetails {
  padding: 0.25rem;
}
.fileDetails h2 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
  margin-block: 0;
  transition: all 0.3s ease;
}
.fileDetails p {
  margin: 0;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.theme-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--margin-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.title {
  display: block;
  margin: 2px;
}
.fileExplorerTxt {
  font-weight: 400; /* font-semibold */
  font-size: 1.25rem;
  color: var(--text-color); /* text-gray-700 */
  transition: all 0.3s ease;
  margin-block: 0;
}
@media (max-width: 425px){
  header{
    padding: 1rem 1rem;
  }
  .title{
    width: 200px;
  }
  .fileExplorerTxt{
    font-size: 1rem;
  }
}