.folderContainer {
  margin-left: 0.5rem;
}

.expandedFolder {
  margin-left: 1rem; /* ml-4 = 1rem */
  border-left: 1px solid var(--margin-color); /* border-l + border-gray-300 */
  padding-left: 0.5rem;
}

.directoryTree {
  padding: 0.75rem; /* p-3 = 12px */
  overflow-y: auto; /* overflow-y-auto */
  height: 100%; /* h-full */
  background-color: var(--bg-color); /* bg-gray-100 */
  border-right: 1px solid var(--margin-color); /* border-r + border-gray-300 */
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--bg-color);
}

.title{
  display: block;
  position: fixed;
  margin: 2px;
  margin-bottom: 0.5rem; /* mb-2 = 8px */
}
.fileExplorerTxt {
  
  font-weight: 400; /* font-semibold */
  color: var(--text-color); /* text-gray-700 */
  margin-block: 0;
  
}

.treeContainer {
  margin-top: 2.5rem;
}
