.folderContainer {
  margin-left: 0.5rem;
}

.expandedFolder {
  margin-left: 1rem; /* ml-4 = 1rem */
  border-left: 1px solid var(--margin-color); /* border-l + border-gray-300 */
  padding-left: 0.5rem;
}

.directoryTree {
  height: 100%;
  padding: 0.75rem; /* p-3 = 12px */
  overflow-y: auto; /* overflow-y-auto */
  background-color: var(--bg-color); /* bg-gray-100 */
  border-right: 1px solid var(--margin-color); /* border-r + border-gray-300 */
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--bg-color);
}


.treeContainer {
  margin: 0;
}
