.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 7rem;
  margin: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--margin-color);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: var(--item-hover-color);
  transition: all 0.3s ease;
}
.icon {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}
