.list {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--text-color) var(--bg-color);
}
.visibleFiles {
  display: flex;
  flex-wrap: wrap;
}
.list p {
  color: var(--text-color);
}
.lazy {
  height: 2.5rem;
}
