body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  max-height: 100vh;
}
.fullPanel {
  display: flex; /* flex */
  height: 92.5vh; /* h-screen = full viewport height */
  overflow: hidden;
}

.leftPanel {
  width: 16rem;
  margin-bottom: 20px;
}

.rightPanel {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.fileList {
  flex: 1 1 0%;
  overflow: hidden;
}
