body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}
.sidePanel {
  display: flex; /* flex */
  position: fixed;
  height: 97.5vh; /* h-screen = full viewport height */
}

.folderTree {
  width: 16rem;
}

.rightPanel {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.fileList {
  flex: 1 1 0%;
  overflow: hidden;
}
